@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-white-primary;
}

@layer base {
  h1 {
    @apply text-black-primary text-2xl font-bold;
  }
  h2 {
    @apply text-black-primary text-xl font-semibold;
  }
  h3 {
    @apply text-black-primary text-lg font-medium;
  }
}
